<h2>
  バトル履歴一覧
</h2>
  <% if current_climber.win_count == nil %>
    まだ勝負をしてません
  <% else %>
  <h4 class="feature-title">
    勝負数 <%= my_win = current_climber.win_count + current_climber.win_count %>回　
    勝利数 <%= current_climber.win_count %>回　
    勝率 <%= ((current_climber.win_count.to_f) / (my_win)).floor(2)  %></p>
  </h4>

  <% end %>
    <table class="table">
      <thead>
        <tr>
          <th>バトル開始日</th>
          <th>バトル終了日</th>
          <th></th>
          <th>対戦相手</th>
          <th>勝敗</th>
          <th>自分の登った本数</th>
          <th>相手の登った本数</th>
        </tr>
      </thead>
      <tbody>
      <% battle_historys.each do |battle_history| %>
        <% if battle_history.present? && battle_history.winner.present? %>
          <tr>
              <td>
                <%= battle_history.started_at.strftime("%Y/%m/%d") %>
              </td>
              <td>
                <%= battle_history.created_at.strftime("%Y/%m/%d")%>
              </td>
          <%# カレントユーザが勝負を申し込まれた場合 #%>
          <% if (current_climber == battle_history.winner) %>
            <td>
              <%= link_to climber_path(battle_history.loser.id) do %>
                  <%= attachment_image_tag battle_history.loser,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
              <% end %>
            </td>
            <td>
              <%= link_to climber_path(battle_history.loser.id) do %>
                  <%= battle_history.loser.name %>
              <% end %>
            </td>
            <td>
              <% if battle_history.is_draw_status == false %>
            <%= image_tag 'winn.png' %> Win 
            <% else%>
            <i class="fas fa-balance-scale"></i>
              Draw
            <i class="fas fa-balance-scale"></i>
            <% end %>
            </td>
            <td>
              <%= battle_history.winner_count%>本
            </td>
            <td>
              <%= battle_history.loser_count%>本
            </td>
          <% elsif (current_climber == battle_history.loser) %>
            <td>
              <%= link_to climber_path(battle_history.winner.id) do %>
                  <%= attachment_image_tag battle_history.winner,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
              <% end %>
            </td>
            <td>
              <%= link_to climber_path(battle_history.winner.id) do %>
                  <%= battle_history.winner.name %>
              <% end %>
            </td>
            <td>
            <% if battle_history.is_draw_status == false %>
                <%= image_tag 'kinoko.png' %> Lose
            <% else%>
              <i class="fas fa-balance-scale"></i>
                Draw
              <i class="fas fa-balance-scale"></i>
            <% end %>
            </td>
            <td>
              <%= battle_history.loser_count %>本
            </td>
            <td>
            <%= battle_history.winner_count %>本
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div class="centering_item">
  <%= paginate battle_historys %>
</div>