<table>
    <thead>
        <tr>
            <th>グレード</th>
            <th>課題名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= @task.grade.grade %>
            </td>
            <td>
                <%= @task.task_name %>
            </td>
        </tr>
    </tbody>
</table>
<div class="container">
    <% if @task.achieved?(current_climber)%>
     <!-- done_taskテーブルに登録する -->
      <%= form_with method: :delete, model: @delete_done_task, url:done_task_path(@delete_done_task), local: true do |f| %>
        <!-- done_taskにcrrent_climberのidとdone_taskのclimber_idに同じものがある場合。（登録済みの場合） -->
        <!-- @task.idをtask_idとして送る -->
        <%= f.hidden_field :task_id, value: @task.id %>
        <%= f.submit"取り消し！", class:"btn btn-primary btn-lg pull-left" %>

    <% end %>
    <% else %>
      <!-- done_taskテーブルに登録する -->
      <%= form_with method: :post, model: @new_done_task, url:done_tasks_path, local: true do |f| %>
        <!-- done_taskにcrrent_climberのidとdone_taskのclimber_idに同じものがある場合。（登録済みの場合） -->
        <!-- @task.idをtask_idとして送る -->
        <%= f.hidden_field :task_id, value: @task.id %>
        <%= f.submit"登れた！", class:"btn btn-primary btn-lg pull-left" %>
    <% end %>
    <% end %>
</div>
<h2>登れた人一覧</h2>

<table>
    <thead>
        <tr>
            <th>名前</th>
        </tr>
    </thead>
    <tbody>
        <% @done_tasks.each do |f| %>
        <tr>
            <td>
                <%= link_to climber_path(f.climber_id) do %>
                    <%= f.climber.name %>
                <% end %>
                </td>
        </tr>
        <% end %>
    </tbody>
</table>