<div class="container">
  <h2>
    <%= @task.grade.grade %>
    <%= @task.task_name %>
    を登れた人
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th>完登日</th>
        <th>名前</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @done_tasks.each do |f| %>
      <tr>
        <td>
          <%= f.created_at.strftime("%Y/%m/%d")%>
        </td>
        <td>
          <%= link_to climber_path(f.climber.id) do %>
            <%= attachment_image_tag f.climber, :profile_image,format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png") %><br>
            <%= f.climber.name %>
          <% end %>
        </td>
        <% if current_climber.id != f.climber.id %>
          <td>
            <%= render 'climbers/climbers/battle_now', climber: f.climber%>
          </td>
          <td>
            <%= render 'climbers/climbers/follow_unfollow', climber: f.climber %>
          </td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>