<table>
  <thead>
    <tr>
      <th>グレード</th>
      <th>課題名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.grade.grade %></td>
      <td><%= @task.task_name %></td>
    </tr>
  </tbody>
</table>
<div class="container">
  <!-- 課題を登録する -->
<%= form_with method: :post, model: @new_done_task, url:done_tasks_path, local: true do |f| %>
<!-- done_taskにcrrent_climberのidとdone_taskのclimber_idに同じものがある場合。（登録済みの場合） -->
    <% if climber_signed_in? && current_climber.id == @done_task.climber_id %>
    <!-- @task.idをtask_idとして送る -->
      <%= f.hidden_field :task_id, value: @task.id %>
      <%= f.submit"登れた！" ,class:"btn btn-primary btn-lg pull-left" %>
    <% end %>
  <% else %>
    <%= form_with method: :delete, model: @delete_done_task, url:done_task_path(@task.id), local: true do |f| %>
      <%= f.hidden_field :task_id, value:@task.id %>
      <%= f.submit"取り消す" ,class:"btn btn-primary btn-lg pull-left" %>
    <% end %>
<% end %>
</div>
<h2>登れた人一覧</h2>
