<div class="container">
  <div class="content">
  <h1>グレード 編集</h1>
    <%= form_with method: :patch, model: @grade, local: true, url: gyms_grade_path(@grade) do |f| %>
        <%= render "devise/shared/error_messages", resource: @grade %>
      <div class="field row">
        <%= f.label :grade, "グレード" %>
        <%= f.text_field :grade %>
        <%= f.label :image, "トロフィー画像選択" %>
        <%= f.attachment_field :trophy_image, class: "image_form" %>
        <%= f.label :trophy_name,"トロフィー名" %>
        <%= f.text_field :trophy_name %>
      </div>
      <div class="action row">
        <%= f.submit "変更を保存" %>
      </div>
    <% end %>
  </div>
</div>