<div class="container">
  <h1><%= @gym_favo.gym_name %> お気に入り登録者一覧</h1>
    <% if @favorites.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>
          </th>
          <th>
            名前
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favo|%>
        <tr>
          <td>
            <%= link_to climber_path(favo.climber.id) do %>
                <%= attachment_image_tag favo.climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
              <% end %>
          </td>
            <td>
              <%= favo.climber.name %>
            </td>
            <% unless current_climber.id == favo.climber.id %>
              <td>
                <%= render 'climbers/climbers/follow_unfollow', climber: favo.climber %>
              </td>
              <td>
                <%= render 'climbers/climbers/battle_now', climber: favo.climber %>
              </td>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      まだ誰もお気に入り登録していません
    <% end %>
          <%= link_to "このジムの詳細ページへ", gym_path(@gym_favo.id) %>
  <div class="centering_item">
    <%= paginate @favorites %>
  </div>
</div>