<div class="container">
  <h1>お知らせ</h1>
    <% if @favorites.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>
            ジム
          </th>
          <th>
            内容
          </th>
          <th>
            日時
          </th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |f|%>
          <tr>
            <td>
              <%= link_to f.gym.gym_name,gym_path(f.gym.id) %>
            </td>
          <% if f.gym.infos.present? %>
            <% f.gym.infos.each do |info| %>
              <td>
                <%= info.info %>
              </td>
            <% end %>
              <td>
                <%= f.created_at.strftime("%Y/%m/%d") %>
              </td>
          <% else %>
            <td>
            お知らせはありません
            </td>
            <td>
            </td>
          <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <h3>
            お気に入り登録しているジムがありません
          </h3>
        </tr>
        <tr>
          <%= link_to ">> お気に入りジムを探す", gyms_path %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <div class="centering_item">
    <%= paginate @favorites %>
  </div>
</div>