<div class="container">
  <div class="content">
  <h1>課題編集</h1>
    <%= form_with method: :patch, model: @task, local: true, url: gyms_task_path(@task) do |f| %>
      <% if @task.errors.any? %>
        <%= @task.errors.count %>件のerrorが発生しました
          <% @task.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
      <% end %>
      <div class="field row">
        <%= f.label :task_name, "課題名" %>
        <%= f.text_field :task_name %>
      </div>
      <div class="field row">
        <%= f.label :grade, "グレード" %>
        <%= f.collection_select :grade_id, @grades, :id, :grade %>
      </div>
      <div class="action row">
        <%= f.submit "変更を保存" %>
      </div>
    <% end %>
  </div>
</div>