<div class="container">
  <h1>課題一覧</h1> 
  <div class="content">
  <h3>課題を追加する</h3>
    <%= render "devise/shared/error_messages", resource: @new_task %>
  <div class="field row">
    <%= form_with method: :post, model:@new_task,local: true, url: gyms_tasks_path do |f| %>
    <%= f.label :課題名 %>
    <%= f.text_field :task_name,{placeholder: "1番"} %>
    <%= f.label :グレード %>
    <%= f.collection_select :grade_id, @grades_all, :id, :grade %><br>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>課題</th>
        <th>グレード</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @grades_all.each do |grade| %>
      <tr>
        <td>
          <%= grade.grade%>
        </td>
        <% gym_tasks = grade.tasks.where(gym_id: current_gym.id ) %>
        <% gym_tasks.each do |task| %>
          <td>
            <%= link_to edit_gyms_task_path(task.id) do %>
              <%= task.task_name %>
            <% end %><br>
            <%= link_to "削除", gyms_task_path(task.id), method: :delete , class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

