<div class="about-visual">
  <div id="luxy">
    <div class="container">
      <div class="about-visual-content">
      <p class="kv-copy">
        <section class="message-intro l-intro js-inview in-view">
          <div class="l-visual">
            <div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);">
            <div class="shape js-luxy" data-speed-y="8" data-offset="-40" style="transform: translate3d(0px, 124.48px, 0px);"></div>
              <div class="bg-girl js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"></div>
              <div class="bg-boy js-luxy" data-speed-y="6" data-offset="-30" style="transform: translate3d(0px, 93.36px, 0px);"></div>
            </div>
            <div class="l-txtContainer">
              <h2 class="c-topTitle">
                <b class="wrap">
                  <span>
                    NOBOROご利用方法
                  </span>
                </b>
              </h2>
              <h2 class="c-topTitle">
                <p class="txt v-pc">
                  <span class="ja wrap">
                    ↓ How to use NOBORO ↓
                  </span>
              </h2>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    ジム検索
                  </span>
                <br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    お気に入りのジムを探したい
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    そんなときに
                  </span>
                </strong>
                <br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  ヘッダー左上のロゴを押すとご覧いただけます
                </span>
                <span class="wrap multi">
                  ジムの特徴別に検索することができます
                </span>
                <br>
                <span class="wrap multi">
                  「初心者だけど大丈夫かな」
                </span>
                <span class="wrap multi">
                  「子供も連れて行ってもいいかな」
                </span>
                <span class="wrap multi">
                  「コンペっぽい課題があるところがいいな」
                </span>
                <br>
                <span class="wrap multi">
                  ここで検索すれば希望のジムをすぐに見つけることができます
                </span>
                <br>
                <span class="wrap multi">
                  好きなジムをお気に入り登録すると、
                </span>
                <span class="wrap multi">
                  お気に入り登録したジムからのお知らせをマイページから見れます
                </span>
                <br>
                <span class="wrap multi">
                  もちろん名前検索もできるぞ
                </span>
              </p>

              <p class="lead">
                <span class="wrap mark">
                  <%= link_to  root_path do %>> 会員登録をしなくてもご利用いただけます
                  <% end %>
                </span>
              </p>
              <h2 class="c-topTitle">
                <span class="ja wrap">
              </h2>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    友達検索
                  </span>
                <br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    友達も使ってるかな？
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    同じレベルの人を探したいな
                  </span>
                </strong>
                <br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  ヘッダー[友達検索]からご利用いただけます
                </span><br>
                <span class="wrap multi">
                  ここには登録者一覧が表示されていて、
                </span>
                <span class="wrap multi">
                  その人が今月の登れた本数を表示されています
                </span><br>
                <span class="wrap multi">
                  同じくらい登っている人を探してフォローしたり
                </span>
                <span class="wrap multi">
                  バトルを申し込んだりしましょう
                </span>
                <br>
                <span class="wrap multi">
                  名前をクリックすると相手のマイページに移動します
                </span>
                <br>
                <span class="wrap multi">
                  検索フォームから友達の名前で探すこともできるぞ
                </span>
              </p>

              <p class="lead">
                <% if climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to " > 友達を探しにいく",climbers_path %>
                  </span>
                  <h2 class="c-topTitle">
                    <span class="ja wrap"><span>
                  </h2>
                <% else climber_signed_in? %>
                <h2 class="c-topTitle">
                  <span class="ja wrap"><span>
                </h2>
                <% end %>
              </p>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    課題チェックシート
                  </span><br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    あれ、これ登ったっけ？
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    そうならないために
                  </span>
                </strong><br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  ジムの詳細ページには、課題一覧のチェックシートがあります
                </span><br>
                <span class="wrap multi">
                  ジムには沢山課題があるから
                </span>
                <span class="wrap multi">
                  どれを登ったか分からなくなりますよね
                </span><br>
                <span class="wrap multi">
                  そうならないために、登れた課題はクリックして登れた！チェックマークをつけて記録しよう
                </span><br>
                <span class="wrap multi">
                  ここでつけたチェックの数がランキングに反映されます
                </span>
                <br>
                <span class="wrap multi">
                  一つのグレードに対する全ての課題を登れたらトロフィーをゲットできます
                </span>
                <br>
                <span class="wrap multi">
                  例えば、5級の課題が3本あったとき、
                </span>
                <span class="wrap multi">
                  3本全部登れたらトロフィーを獲得することができます
                </span>
              </p>

              <p class="lead">
                <% if climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to "> まずはお気に入りジムを探そう", root_path %>
                  </span>
                  <h2 class="c-topTitle">
                    <span class="ja wrap"></span>
                  </h2>
                <% else climber_signed_in? %>
                <h2 class="c-topTitle">
                  <span class="ja wrap"><span>
                </h2>
                <% end %>
              </p>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    ランキング
                  </span>
                  <br>
                </h1>
              </p>
              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    比べるものじゃないけど
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    やっぱり気になる
                  </span>
                </strong><br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  ヘッダーの「ランキング」または、
                </span>
                <span class="wrap multi">
                  ジムの詳細ページの「今月のランキング」から見ることができます
                </span><br>
                <span class="wrap multi">
                  1ヶ月毎の登れた本数でランキングを表示しています
                </span><br>
                <span class="wrap multi">
                  「どれくらい登れたかな？」
                </span>
                <span class="wrap multi">
                  「いつもより沢山登れたかな？」
                </span>
                <span class="wrap multi">
                  「この人には負けたくない！」
                </span>
                <span class="wrap multi">
                  「1番じゃなきゃいやだ！」
                </span><br>
                <span class="wrap multi">
                  人と競うのも
                </span>
                <span class="wrap multi">
                  過去の自分と比較するのも
                </span>
                <span class="wrap multi">
                  数値に現れたらひとめで分かる
                </span><br>
                <span class="wrap multi">
                  ランキング機能をモチベーションの維持に活用してください
                </span>
              </p>

              <p class="lead">
                <% if climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to "> 今月のランキングページへ", done_tasks_path %>
                  </span>
                  <h2 class="c-topTitle">
                    <span class="ja wrap"></span>
                  </h2>
                <% else climber_signed_in? %>
                <h2 class="c-topTitle">
                  <span class="ja wrap"><span>
                </h2>
                <% end %>
              </p>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    トロフィー
                  </span><br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    集める楽しみって、あるよね
                  </span>
                </strong><br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  一つのグレードに対する全ての課題を登れたらトロフィーをゲットできます
                </span>
                <br>
                <span class="wrap multi">
                  例えば、5級の課題が3本あったとき、
                </span>
                <span class="wrap multi">
                  3本全部登れたらトロフィーを獲得することができます
                </span>
                <br>
                <span class="wrap multi">
                  トロフィーってどんなの？
                </span>
                <span class="wrap multi">
                  ...それは見てのお楽しみ
                </span>
                <br>
                <span class="wrap multi">
                  ゲットしたらマイページのトロフィーアイコンをクリックして見てみよう
                </span>
                <br>
                <span class="wrap multi">
                  グレード毎に違う種類のトロフィーをゲットできます
                </span>
              </p>

              <p class="lead">
              <% if climber_signed_in? %>
                <span class="wrap mark">
                  <%= link_to "> 獲得したトロフィーを見にいく", trophy_path(current_climber.id) %>
                </span>
                <h2 class="c-topTitle">
                  <span class="ja wrap"></span>
                </h2>
              <% else climber_signed_in? %>
                <h2 class="c-topTitle">
                  <span class="ja wrap"><span>
                </h2>
              <% end %>
              </p>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask"></span>
                    3Daysバトル
                  </span>
                <br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box"><span class="wrap multi"><span>
                  争いごとはきらい</span></strong><br>
                <strong class="box"><span class="wrap multi"><span>
                  でも、負けるのはもっときらい</span></strong><br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  登れた課題数でライバルと勝負をしよう
                </span><br>
                <span class="wrap multi">
                  バトルを申し込みたい相手のマイページ、またはランキングから「バトルを申し込む」ボタンをクリック
                </span><br>
                <span class="wrap multi">
                  すると、相手にバトル申請の通知が送られます
                </span><br>
                <span class="wrap multi">
                  相手がバトルを承認したらバトルがスタート！
                </span><br>
                <span class="wrap multi">
                  承認されてから3日間のうちにどれだけ登れたかを競いましょう
                </span><br>
                <span class="wrap multi">
                  バトル履歴を見ると過去の結果を見ることができます
                </span><br>
                <span class="wrap multi">
                  負けたくないから、いつもより頑張れるかも
                </span>
              </p>

              <p class="lead">
                <% if climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to "> バトルを始めちゃう", battles_path %>
                  </span>
                  <h2 class="c-topTitle">
                    <span class="ja wrap"></span>
                  </h2>
                <% else climber_signed_in? %>
                <h2 class="c-topTitle">
                  <span class="ja wrap"><span>
                </h2>
                <% end %>
              </p>
              


              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    マイページ
                  </span>
                <br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    自分の情報を編集したり
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    お気に入りジムからのお知らせを見たり
                  </span>
                </strong>
                <br>
              </p>

              <p class="txt v-pc">
                <span class="wrap multi">
                  ヘッダーの「マイページ」から自分の情報を見ることができます
                </span>
                <br>
                <span class="wrap multi">
                  獲得したトロフィー
                </span>
                <span class="wrap multi">
                  お気に入りジムからのお知らせ
                </span>
                <span class="wrap multi">
                  フォローフォロワー情報
                </span><br>
                <span class="wrap multi">
                  プロフィール写真を登録したり、
                </span>
                <span class="wrap multi">
                  自己紹介を登録することもできます
                </span>
                <br>
                <span class="wrap multi">
                  プロフィール写真は、ランキングなどに表示されるので
                </span>
                <span class="wrap multi">
                  お気に入りのものを登録しよう
                </span>
                <br>
              </p>

              <p class="lead">
              <% if climber_signed_in? %>
                <span class="wrap mark">
                  <%= link_to "> ようこそ私のマイページへ！", climber_path(current_climber.id)%>
                </span>
                <h2 class="c-topTitle">
                  <span class="ja wrap"></span>
                </h2>
              <% else climber_signed_in? %>
                <h2 class="c-aboutPage">
                  <span class="ja wrap"><span>
                </h2>
              <% end %>
              </p>

              <p class="copy c-boxTxt">
                <h1 class="kv-title v-pc">
                  <span class="tx-mask">
                    ボルダリング?</span><br>
                </h1>
              </p>

              <p class="copy c-boxTxt">
                <strong class="box">
                  <span class="wrap multi">
                    そもそも ボルダリングって
                  </span>
                </strong><br>
                <strong class="box">
                  <span class="wrap multi">
                    どんな遊び？
                  </span>
                </strong><br>
              </p>

              <p class="txt v-pc">
                <span>ー　ボルダリング　ー</span>
              </p>

              <p class="txt v-pc">
                <span class="wrap">
                  ボルダリングは室内でカラフルな石（ホールド）を使って登る遊びのこと
                </span><br>
                <span class="wrap">
                  スタートから決められたホールドのみを使ってゴールまで登ります
                </span><br>
                <span class="wrap">
                  ゴールに設定されているホールドを、両手でタッチしたらクリアです
                </span><br>
                <span class="wrap">
                  3.4mほどの高さなので命綱はいりません
                </span><br>
                <span class="wrap">
                  一人でも、大人数でも遊べます
                </span><br>
                <span class="wrap">
                  初めは一番下のレベルも歯が立たなかったのに
                </span>
                <span class="wrap">
                  続ければどんどん難しいレベルを触れる様になってくる
                </span><br>
                <span class="wrap">
                  やればやるほど成長していく感覚が、
                </span>
                <span class="wrap">
                  病みつきになること間違いなし
                </span>
              </p>

              <h1></h1>
              <p class="txt v-pc">
                <span>
                  ー　楽しいよ ボルダリング　ー
                </span>
              </p>

              <p class="txt v-pc">
                <span class="wrap">
                  ボルダリングって勝敗がない
                </span>
                <span class="wrap">
                  勝敗がないのも魅力なんだけど、たまには競うのもモチベーションになるかな
                </span><br>
                <span class="wrap">
                  登れたぞって、誰かに言いたいな
                </span>
                <span class="wrap">
                  同じくらいのレベルの人と繋がりたいな
                </span><br>
                <span class="wrap">
                  自分が登れた課題を管理したい
                </span>
                <span class="wrap">
                  こんだけ登れたんだから、ご褒美が欲しい
                </span><br><br>
                <span class="wrap">
                  このアプリでボルダリングの楽しみを増やすことができたら
                </span>
                <span class="wrap">
                  そう思って作りました
                </span><br>
                <span class="wrap">
                  ボルダリングをしたことがないって人も、
                </span>
                <span class="wrap">
                  少しでも興味を持ってもらえたら嬉しいです
                </span><br>
                <span class="wrap">
                  どうやって登るかを考えるのがパズルみたいで、エンジニアは好きになる人多いと思うんだ
                </span>
              </p>
              <p class="lead">
                <% if climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to "> GO TO NOBORO", new_climber_registration_path %>
                  </span>
                <% else climber_signed_in? %>
                  <span class="wrap mark">
                    <%= link_to "> Sign Up", new_climber_registration_path %>
                  </span>
                <% end %>
              </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script charset="utf-8">
    luxy.init();
</script>