<% if battles.present? %>
  <h2>
    現在 <%= battles.count %> 人とバトルしています
  </h2>
    <p>
      終了するボタンを押すとバトルが終了して、バトル履歴に登録されます
    </p>
    <p>
      リセットを押すと登れた本数がリセットされます
    </p>
<% else %>
  <h3>
    まだ 誰ともバトルしていません
  </h3>
  <p>
    友達にバトル申請してみよう
  </p>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>
        バトル開始日
      </th>
      <th>
        バトル終了予定日
      </th>
      <th></th>
      <th>
        勝負中
      </th>
      <th>
        相手の登れた数
      </th>
      <th>
        自分の登れた数
      </th>
      <th>
        勝敗
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% battles.each do |battle| %>
      <% if battle.present? && battle.battler.present? %>
        <tr>
          <td>
            <%= battle.updated_at.strftime("%Y/%m/%d") %>
          </td>
          <td>
            <%= battle.finish_at.strftime("%Y/%m/%d")%>
          </td>
          <%# カレントユーザが勝負を申し込まれた場合 #%>
        <% if (current_climber == battle.battler) %>
          <td>
            <%= link_to climber_path(battle.climber.id) do %>
              <%= attachment_image_tag battle.climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
            <% end %>
          </td>
          <td>
            <%= link_to climber_path(battle.climber.id) do %>
              <%= battle.climber.name %>
            <% end %>
          </td>
          <td>
            <%= rival_count = battle.done_task_by(battle.climber) %> 本
          </td>
          <td>
            <%= my_count = battle.done_task_by(current_climber) %> 本
          </td>
        <%# カレントユーザが勝負を申し込んだ場合 #%>
        <% elsif (current_climber == battle.climber) %>
          <td>
            <%= link_to climber_path(battle.battler.id) do %>
              <%= attachment_image_tag battle.battler,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
            <% end %>
          </td>
          <td>
            <%= link_to climber_path(battle.battler.id) do %>
              <%= battle.battler.name %>
            <% end %>
          </td>
          <td>
            <%= rival_count = battle.done_task_by(battle.battler) %> 本
          </td>
          <td>
            <%= my_count = battle.done_task_by(current_climber) %> 本
          </td>
        <% end %>

          <td>
            <% if my_count == rival_count %>
              <i class="fas fa-balance-scale"></i>
              <% result = "Draw" %>
                <%= result %>
            <% elsif my_count < rival_count %>
              <i class="fas fa-balance-scale-left"></i>
              <% result = "Lose" %>
                <%= result %>
            <% elsif my_count > rival_count %>
              <i class="fas fa-balance-scale-right"></i>
              <% result = "Win" %>
                <%= result %>
            <% end %>
            <%#= battle.my_count_result_by(rival_count) %>
          </td>

          <td>
            <%#バトルを削除してバトル履歴テーブルへ登録する#%>
            <%= form_with method: :delete, model: @delete_battle, model: battle, url:battle_path(battle.id),local: true do |f| %>
              <%= f.hidden_field :fin_battle, value:"終了" %>
              <%= f.hidden_field :result, value: result %>
              <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-primary' do %>
                <i class="fas fa-bolt"> 終了する</i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%#バトルを更新して、finish_atを今の日付から＋3日する#%>
            <%= form_with method: :put, model: @update_battle, url:battle_path(battle.id),local: true do |f| %>
              <%= f.hidden_field :battle_status, value:"リセット" %>
              <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-danger' do %>
                <i class="fas fa-dragon"> リセット</i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>