<%# <% if battles.present? && battles.battler.present? %>
    <h2>
        現在 <%= battles.count %> 人とバトルしています
    </h2>
    <p>バトルを終了すると勝敗がつきます</p>
<%# <% else %>
    <%# <h2>
        まだ 誰ともバトルしていません
    </h2>
    <p>友達にバトル申請してみよう</p>
<% end %>
<table class="table">
    <thead>
        <tr>
            <th>バトル開始日</th>
            <th>バトル終了予定日</th>
            <th></th>
            <th>勝負中</th>
            <th>相手の登れた数</th>
            <th>勝敗</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% rank = 1 %>
        <% battles.each do |battle| %>
            <% if battle.present? && battle.battler.present? %>
                <tr>
                    <td>
                        <%= battle.updated_at.strftime("%Y/%m/%d") %>
                    </td>
                    <td>
                        <%= battle.finish_at.strftime("%Y/%m/%d")%>
                    </td>
                    <% if (current_climber == battle.battler) %>
                        <td>
                        <%= attachment_image_tag battle.climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: "no_image.png", size:'40x40' %>
                        </td>
                        <td>
                            <%= link_to climber_path(battle.climber.id) do %>
                                <%= battle.climber.name %>
                            <% end %>
                        </td>
                        <td>
                            <%= battle.climber.done_tasks.count %>本
                        </td>
                    <% elsif (current_climber == battle.climber) %>
                        <td>
                        <%= attachment_image_tag battle.battler,:profile_image, format: 'jpeg', class: "profile-icon", fallback: "no_image.png", size:'40x40' %>
                        </td>
                        <td>
                            <%= link_to climber_path(battle.battler.id) do %>
                                <%= battle.battler.name %>
                            <% end %>
                        </td>
                        <td>
                            <%= battle.battler.done_tasks.count %>本
                        </td>
                    <% end %>
                    <td>
                        登れた本数 > 相手の登れた本数比較...
                    </td>
                    <td>
                     <%= form_with method: :put,model: battle, url:battle_path(battle.id),local: true do |f| %>
                        <%= f.hidden_field :fin_battle, value:"終了" %>
                        <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-danger' do %>
                        <i class="fas fa-dragon"> 勝負を終了する</i>
                      <% end %>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>