<button type="button" class="btn demo" data-toggle="modal" data-target="#modal-1">
バトル勝敗DEMO
</button>
<div class="modal fade" id="modal-1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h3 class="modal-title"><%= image_tag 'toro.png' %> バトルを終了しました！</h3>
      </div>
      <div class="modal-body">
        <h4>ここに勝敗が入る</h4>
      </div>
    </div>
  </div>
</div>

<h1>バトルページ</h1>
<p>バトルに勝利するとプレンゼントトロフィーがもらえるぞ</p>
<p>同じくらい登ってる人にバトルを挑もう！</p>
<%= link_to "<< ランキングページへ", done_tasks_path %>
<div class="row">
 <%= link_to climber_path(current_climber.id) do %>
  <%= attachment_image_tag current_climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
  <h3>
    <%= current_climber.name %>
  </h3>
<% end %>
</div>

  <h2></h2>
    <!-- 以下タブの表示設定 -->
    <ul id="myTabs" class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#home"  aria-controls="home" role="tab" data-toggle="tab">
          バトル中
        </a>
      </li>
      <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
          バトル申請中
        </a>
      </li>
      <li role="presentation">
        <a href="#message" aria-controls="message" role="tab" data-toggle="tab">
          バトル履歴
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <%= render 'now_battle', battles: @now_battles, delete_battle: @delete_battle %>
        <br>
          <%= link_to "＜＜ マイページに戻る", climber_path(current_climber.id) %>
      </div>

      <%# バトル申請中一覧表示 %>
      <div role="tabpanel" class="tab-pane" id="profile">
        <%= render 'request_battle', battles: @request_battles, delete_battle: @delete_battle %>
      </div>

      <%# バトル履歴一覧表示 %>
      <div role="tabpanel" class="tab-pane" id="message">
        <%= render 'battle_historys/battle_history', battle_historys: @battle_historys %>
      </div>
    </div>