<div class="container">

  <% if @gym.errors.any? %>
    <div class="alert alert-danger">
      <h4>
        <%= @gym.errors.count %>件のエラーがあります
      </h4>
      <% @gym.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
    <h1>
      ジム情報　編集画面
    </h1>
    <%= form_with method: :patch, model: @gym, local: true, url: gyms_gym_path(@gym) do |f| %>

        <%= f.label :gym_name %>
        <%= f.text_field :gym_name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :post_code %>
        <%= f.text_field :post_code %>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>

        <%= f.label :genre_id %>
        <%= f.collection_select :genre_id, @genres, :id, :genre_name %>

        <%= f.label :gym_url %>
        <%= f.text_area :gym_url %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.attachment_field :gym_image, placeholder:"ジム画像", id:"gym_image" %>

      <div class="row">
        <%= f.submit "変更を保存" %>
      </div>
    <% end %>
</div>