<div class="container">
    <div class="content">
    <h3>お知らせを追加する</h3>
      <%= render "devise/shared/error_messages", resource: @new_info %>
      <%= form_with method: :post, model:@new_info,local: true, url: gyms_infos_path do |f| %>
        <div class="field row">
          <%= f.label :お知らせ %>
          <%= f.text_field :info,{placeholder: "コンペがあります"} %>
        <%= f.submit "追加", class: "btn btn-primary" %>
        </div>
    <% end %>
    </div>
  <h1>お知らせ一覧</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>お知らせ</th>
          <th>登録日</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @infos.each do |info| %>
        <tr>
          <td><%= info.info %></td>
          <td><%= info.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= link_to "編集", edit_gyms_info_path(info.id) ,class: "btn btn-primary"%></td>
          <td><%= link_to "削除", gyms_info_path(info.id), method: :delete , class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>


