<% gyms.each do |gym| %>
  <div class="blog-item clearfix">
    <%= attachment_image_tag gym, :gym_image, format: 'jpeg', class: "pull-left gym-icon", fallback: "bo2.jpeg" %>
    <section class="blog-text">
      <h3 class="blog-text-headline">
        <%= link_to gym.gym_name, gym_path(gym.id) %>
        <%= link_to gyms_path(genre_id: gym.genre.id) do %>
          <span class="category">
            <%= gym.genre.genre_name %>
          </span>
        <% end %>
      <h5 id="favorites_<%= gym.id %>">
        <%= render 'favorite', gym: gym %>
      </h5>
      </h3>
      <p class="blog-date">
      <h5 class="c-heading3__title">
        営業時間
      </h5>
        <%= gym.description %>
      </p>
      <p class="blog-date">
      <h5 class="c-heading3__title">
        住所
      </h5>
        〒<%= gym.post_code %>
        <%= gym.address %>
      </p>
      <% if climber_signed_in? %>
        <%= link_to " #{gym.gym_name} 今月のランキング",rank_path(gym.id), class: "fas fa-chess-queen" %>
      <% else climber_signed_in? %>
        ※ ログインしたらこのジムのランキングが見れます
      <% end %>
    </section>
  </div>
<% end %>