
        <p>
        <%= @all_my_rank %>位
        <%= link_to climber_path(current_climber.id) do %>
                <%= attachment_image_tag current_climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: "no_image.png", size:'40x40' %>
                <%= current_climber.name %>
        <% end %>
        <%= current_climber.done_tasks.count%>本

        <table class="table">
            <thead>
                <tr>
                    <th>順位</th>
                    <th>写真</th>
                    <th>名前</th>
                    <th>登れた本数</th>
                </tr>
            </thead>
            <tbody>
                <% rank = 1 %>
                <% @all_done_tasks.each do |rank_done_task| %>
                <tr>
                    <td>
                        <%= rank %>位
                        <% rank += 1 %>
                    </td>
                    <td>
                    <%= attachment_image_tag rank_done_task.climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: "no_image.png", size:'40x40' %>
                    </td>
                    <td>
                        <%= link_to climber_path(rank_done_task.climber_id) do %>
                            <%= rank_done_task.climber.name %>
                        <% end %>
                    </td>
                    <td>
                        <%= rank_done_task.climber.done_tasks.count %>本
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>