<%= render 'layouts/alert' %>
<div class="main-visual">
  <div class="container">
  </div>
  <div class="main-visual-content">
    <p class="main-visual-text">
      ジムの店舗名で検索できます<br>
    </p>
      <div class="search-form">
        <%= form_with method: :get,local: true, url:gyms_search_path do |f| %>
          <%= f.text_field :gym_name,{placeholder: "ジムを検索"} %>
          <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-success' do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
<div class="container">
  <!-- ジャンル検索 -->
  <%= render 'genres', genres: @genres %>
  <!-- ジム一覧 -->
  <%= render 'all_gym', gyms: @gyms %>
  <div class="centering_item">
    <%= paginate @gyms %>
  </div>
</div>