<%= @gym.gym_name%>の
<h2>今月のランキング</h2>

あなたのランキングは<%= @my_rank %>位です

<table class="table table-hover">
    <thead>
        <tr>
            <th>順位</th>
            <th>名前</th>
            <th>登れた数</th>
        </tr>
    </thead>
    <tbody>
    <% rank = 1%>
        <% @rank_done_tasks.each do |f| %>
        <tr>
            <td>
              <%= rank %>位
              <% rank += 1 %>
            </td>
            <td>
              <%= link_to climber_path(f.climber_id) do %>
                  <%= f.climber.name %>
                <% end %>
            </td>
            <td>
            ジムの登れた本数をだしたい。
                <%= f.climber.done_tasks.count %>本
        </tr>
        <% end %>
    </tbody>
</table>