<div class="container">
  <h2>ジム検索</h2>
  <!-- 検索フォームここから -->
  <div class="search-form">
    <%= form_with method: :get, local: true, url:gyms_search_path do |f| %>
      <%= f.text_field :gym_name,{placeholder: "店名で検索"} %>
      <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-success' do %>
        <i class="fa fa-search"> ジムを探す</i>
      <% end %>
    <% end %>
  </div>
    <% unless @gyms.present? %>
      <h4>" <%= params[:gym_name] %> " に一致するジムは見つかりませんでした</h4>
    <% end %>
  <!-- ジャンル検索 -->
  <%= render 'genres', genres: @genres %>
  <!-- ジム一覧 -->
  <%= render 'all_gym', gyms: @gyms %>

  <div class="centering_item">
    <%= paginate @gyms %>
  </div>
</div>