<%= attachment_image_tag @gym, :gym_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "bo2.jpeg", size:'400x300' %>
<table class="table">
    <thead>
        <tr>
            <th>店舗名</th>
            <td>
                <%= @gym.gym_name %>
            </td>
        </tr>
        <tr>
            <th>紹介文</th>
            <td>
                <%= @gym.description %>
            </td>
        </tr>
        <tr>
            <th>アクセス</th>
            <td>
                <%= @gym.address %>
            </td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>
                <a class="heading-p" href="tel:">
                    <%= @gym.phone_number %>
                </a>
            </td>
        </tr>
        <tr>
            <th>HP</th>
            <td>
                <%= link_to @gym.gym_url %>
            </td>
        </tr>
    </thead>
</table>
<td id="favorites_<%= @gym.id %>">
    <%= render 'favorite', gym: @gym %>
</td>

<%= link_to '今月のランキング',done_tasks_path, class: "btn btn-primary" %>
<div class="container">
    <h2>課題一覧</h2>
    登れた課題にチェックをつけてください
    <table class="table">
        <thead>
            <tr>
                <th>グレード</th>
                <th>課題名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- グレードのeach文 -->
            <% @grades_all.each do |grade| %>
                <tr>
                    <td>
                        <%= grade.grade %>
                    </td>
                    <%# グレードに紐づくeach文 %>
                    <% gym_tasks = grade.tasks.where(gym_id: @gym.id)%>
                    <% gym_tasks.each do |f| %>
                        <% @new_done_task = DoneTask.new %>
                        <% @delete_done_task = current_climber.done_tasks.find_by(task_id: f.id)%>
                            <td id="done_task_<%= f.id %>">
                                <%= render 'done_task', task: f, new_done_task: @new_done_task, delete_done_task: @delete_done_task %>
                                <%= link_to task_path(f.id) do %>
                                    <%= f.task_name %>
                                <% end %>
                            </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%= link_to "＜＜戻る", gyms_path %>

