<table class="table">
    <thead>
        <tr>
            <th>店舗名</th>
            <td>
                <%= @gym.gym_name %>
            </td>
        </tr>
        <tr>
            <th>紹介文</th>
            <td>
                <%= @gym.description %>
            </td>
        </tr>
        <tr>
            <th>アクセス</th>
            <td>
                <%= @gym.address %>
            </td>
    </thead>
</table>
<%= link_to '今月のランキング',tasks_path(@task), class: " btn btn-primary" %>
<div class="container">
    <h2>課題一覧</h2>
    <table class="table">
        <thead>
            <tr>
                <th>グレード</th>
                <th>課題名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- グレードのeach文 -->
            <% @grades.each do |grade| %>
            <tr>
                <td>
                    <%= grade.grade %>
                </td>
            </tr>
            <% end %>
            <!-- 課題のeach文 -->
            <% @tasks.each do |task| %>
            <td>
                <%= link_to task_path(task) do %>
                <%= task.task_name %>
                <% end %>
            </td>
            <td>
                <%= task.grade.grade %>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>