<div class="container">
  <div class="content">
    <h1>ジャンル 編集</h1>
      <%= form_with method: :patch, model: @genre, local: true, url: gyms_genre_path(@genre) do |f| %>
        <%= render "devise/shared/error_messages", resource: @genre %>
        <div class="field row">
          <%= f.label :genre_name, "ジャンル" %>
          <%= f.text_field :genre_name %>
          <%= f.label :genre_image, "ジャンル画像選択" %>
          <%= f.attachment_field :genre_image, class: "image_form" %>
        </div>
        <div class="action row">
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
  </div>
</div>