<div class="container">
  <div class="content">
  <h3>ジャンルを追加する</h3>
    <%= render "devise/shared/error_messages", resource: @new_genre %>
    <%= form_with method: :post, model:@new_genre,local: true, url: gyms_genres_path do |f| %>
    <div class="field row">
      <%= f.label :ジャンル %>
      <%= f.text_field :genre_name,{placeholder: "初心者歓迎"} %>
      <%= f.submit "追加", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<h1>ジャンル一覧</h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ジャンル名</th>
        <th>ジャンル写真</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.genre_name %>
        </td>

        <td>
          <%= attachment_image_tag genre, :genre_image, size: '100x100',format: "jpeg",fallback: asset_path("ira13.png") %>
        </td>
        <td>
          <%= link_to "編集する", edit_gyms_genre_path(genre.id) ,class: "btn btn-primary"%>
        </td>
        <td>
          <%= link_to "Destroy", gyms_genre_path(genre.id), method: :delete , class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>