<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                名前
            </th>
            <th>
                今月登った本数
            </th>
            <th>
                フォロー
            </th>
            <th>
                バトル
            </th>
        </tr>
    </thead>
    <tbody>
        <% climbers.each do |climber| %>
        <tr>
            <td>
              <%= link_to climber_path(climber.id) do %>
                <%= attachment_image_tag climber,:profile_image, format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png"), size:'40x40' %>
              <% end %>
            </td>
            <td>
                <%= link_to climber_path(climber.id) do %>
                  <%= climber.name%>
                <% end %>
            </td>
            <td>
                <%= climber.month_done_tasks.count %> 本
            </td>
              <% unless current_climber.id == climber.id %>
            <td>
              <%= render 'follow_unfollow', climber: climber %>
            </td>
            <td>
              <%= render 'battle_now', climber: climber %>
            </td>
            <% end %>
            <td></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>