<% notifications.each do |notification| %>
  <% visiter = notification.visiter %>
  <% battle = notification.battle %>

  <div class="user-view clearfix ">
    <%= link_to climber_path(visiter) do %>
    通知があります
      <%# <%=  image_tag notification.visiter.image[:small].url, class:"user-thumb", style:"width: 60px;" %>
    <% end %>
    <%# <%= notification_form(notification) %>
      <span class="moderate-font">
        <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
      </span>
    <br>
    <% if !@battle.nil? %>
      <p class="moderate-font">
        <%= @battle %>
      </p>
    <% end %>
  </div>
<% end %>