<div class="container">
  <div class="row">
    <h3 class="col-xs-offset-2 col-xs-3">登録情報編集</h3>
  </div>
  <div class="container">
<%= form_with method: :patch, model: @climber, url:climber_path(current_culimber.id), local: true do |f| %>

    <div class="field row">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>

    <div class="field row">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>


    <div class="field row">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>


    <div class="action row">
      <tr>
        <td><%= f.submit '編集内容を保存する', class: "btn btn-primary" %></td>
      </tr>
    </div>

    <% end %>

  </div>
</div>