<div class="container">
  <h1>検索結果</h1>

  <%= form_with url: climber_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :name,{placeholder: "名前で検索"} %>
    <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-success' do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
    <section class="tasks">
    <h3>
      <%= link_to ">> ユーザ一覧ページへ",climbers_path %>
    </h3>
  </section>
  <%= render 'climbers', climbers: @climbers %>
  <div class="centering_item">
    <%= paginate @climbers %>
  </div>
</div>