<div class="container">
  <h1><%= @climber.name %> フォロワー 一覧</h1>
    <table class="table">
      <thead>
          <tr>
              <th></th>
              <th>名前</th>
              <th>バトル</th>
              <th>フォロー</th>
          </tr>
      </thead>
      <tbody>
        <% @climbers.each do |climber| %>
        <tr>
            <td>
              <%= link_to climber_path(climber.id) do %>
                <%= attachment_image_tag climber, :profile_image,format: 'jpeg', class: "profile-icon", fallback: asset_path("no_image.png") %>
            </td>
            <td>
                <%= climber.name %>
              <% end %>
            </td>
            <td>
            <%= render 'climbers/climbers/battle_now', climber: climber%>
            </td>
            <td>
            <%= render 'follow_unfollow', climber: climber %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>