<div class="container">
	<div class="profile">
		<div class="container">
        <%= render 'layouts/alert' %>
			<p class="heading-p">
			<div class="prof-group">
          <div class="left-content">
            <div class="my-icon">
              <%= attachment_image_tag @climber, :profile_image, format: 'jpeg', class: "pull-left my-icon", fallback: asset_path("no_image.png") %>
            </div>
          </div>
        <div class="prof-vi">
          <h2 class="feature-title">
            <%= @climber.name %>
          </h2>
          <h3 class="feature-title">
            フォロワー <%= link_to @climber.followers.count,follower_climber_path(@climber) %>
            フォロー中 <%= link_to @climber.followings.count,following_climber_path(@climber) %>
            <%= link_to trophy_path(@climber) do %>
              <%= image_tag 'tororo.png' %>
            <% end %>
          </h3>
          <p class="heading-p">
            <div class="balloon1-left">
              <% if @climber.introduction.present? %>
                <%= @climber.introduction %>
              <% elsif %>
                <%= "よろしくお願いします" %>
              <% end %>
            </div>
            <% if current_climber.id == @climber.id %>
              <h3 class="feature-title">
              <%= link_to edit_climber_path do %>
                <%= image_tag 'purof.png' %>
                <%= link_to "プロフィール編集", edit_climber_path %>
              <% end %>
              </h3>
            <% else %>
              <h3 class="feature-title">
                <%= render 'climbers/climbers/battle_now', climber: @climber%>
                <%= render 'follow_unfollow', climber: @climber %>
              </h3>
            <% end %>
          </p>
          <h3 class="feature-title">お気に入りジム</h3>
          <p class="heading-p">
            <% if @climber.favorite_by?(@climber) %>
                <% @favorites.each do |f|%>
                  <%= link_to gym_path(f.gym) do %>
                    <%= f.gym.gym_name %> /
                  <% end %>
                <% end %>
            <% else %>
              <p>まだお気に入りジムを登録していません</p>
            <% end %>
          </p>
          <% if current_climber.id == @climber.id %>
            <h3 class="feature-title">
              <%= link_to favorites_path do %>
                <%= image_tag 'info.png' %>
                <%= link_to "お気に入りジムからのお知らせ", favorites_path %>
              <% end %>
            </h3>
          <% end %>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>