<h2>マイページ</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>プロフィール</th>
      <th>名前</th>
      <th>お気に入りジム</th>
      <th>自己紹介</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
        <%= attachment_image_tag @climber, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png", size:'40x40' %>
    </td>
      <td><%= @climber.name %></td>
        <% if @climber.favorite_by?(current_climber) %>
            <td><%= link_to gym_path(@favorite.gym) do %>
                <%= @favorite.gym.gym_name %>
              <% end %>
            </td>
          <% else %>
            <td>お気に入りジム未登録</td>
        <% end %>
      <td><%= @climber.introduction %></td>
    </tr>
  </tbody>
</table>
<table>

<!-- カレントユーザーにはフォローボタンを表示させない -->
<% unless current_climber.id == @climber.id %>
  <% if current_climber.following?(@climber) %>
    <%= form_for(current_climber.relationships.find_by(follow_id: @climber.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, @climber.id %>
      <tr>
          <td>
              <%= f.submit 'フォローをはずす', class: 'btn btn-danger' %>
          </td>
      </tr>
      <% end %>
      <% else %>
      <%= form_for(current_climber.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, @climber.id %>
      <tr>
          <td>
              <%= f.submit 'フォローする', class: 'btn btn-primary' %>
          </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
<p>フォロー数</p>
  <p>
      <%= link_to @climber.followings.count,following_climber_path(@climber) %>
  </p>
<p>フォロワー数</p>
  <p>
      <%= link_to @climber.followers.count,follower_climber_path(@climber) %>
  </p>
<% if current_climber.id == @climber.id %>
  <%= link_to "ー　プロフィール編集　ー", edit_climber_path %><br>
  <%= link_to "ー　お気に入りジムの お知らせ一覧　ー", favorites_path %><br>
<% end %>
<%= link_to "ー　獲得したトロフィー一覧　ー", trophy_path(@climber) %>
<h3>----　今月の獲得トロフィー　---</h3>