<h2>マイページ</h2>
<div class="field row">
    <%= @climber.name %>
</div>
<%= attachment_image_tag @climber, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png", size:'40x40' %>
<div class="field row">
    お気に入り登録しているgym_nameを表示
    <%= @climber.name %>
</div>
<div class="field row">
    <%= @climber.introduction %>
</div>
<!-- あとでunlessに書き換える -->
<!-- カレントユーザーにはフォローボタンを表示させない -->
<% unless current_climber.id == @climber.id %>
<% if current_climber.following?(@climber) %>
<%= form_for(current_climber.relationships.find_by(follow_id: @climber.id), html: { method: :delete }) do |f| %>
<%= hidden_field_tag :follow_id, @climber.id %>
<tr>
    <td>
        <%= f.submit 'フォローをはずす', class: 'btn btn-danger' %>
    </td>
</tr>
<% end %>
<% else %>
<%= form_for(current_climber.relationships.build) do |f| %>
<%= hidden_field_tag :follow_id, @climber.id %>
<tr>
    <td>
        <%= f.submit 'フォローする', class: 'btn btn-primary' %>
    </td>
</tr>
<% end %>
<% end %>
<% end %>
<p>フォロー数</p>
<p>
    <%= link_to @climber.followings.count,following_climber_path(@climber) %>
</p>
<p>フォロワー数</p>
<p>
    <%= link_to @climber.followers.count,follower_climber_path(@climber) %>
</p>
<%= link_to "ー　獲得したトロフィー一覧　ー", trophys_path %>
<h3>----　今月の獲得トロフィー　---</h3>