
<!-- ここからプロフィール -->
	<div class="profile">
		<div class="container">
			<h2 class="heading">
        ユーザーページ
      </h2>
			<p class="heading-p">
			<div class="prof-group">
          <div class="left-content">
            <div class="my-icon">
              <%= attachment_image_tag @climber, :profile_image, format: 'jpeg', class: "pull-left my-icon", fallback: "no_image.png" %>
            </div>
          </div>
        <div class="prof-vi">



        <h2 class="feature-title">
            <%= @climber.name %>
          </h2>
          <h3 class="feature-title">
            フォロワー <%= link_to @climber.followers.count,follower_climber_path(@climber) %>
            フォロー中 <%= link_to @climber.followings.count,following_climber_path(@climber) %>
          </h3><br>
          <h3 class="feature-title">
          </h3>
          <h3 class="feature-title">
            <%= link_to "獲得したトロフィー", trophy_path(@climber) %>
          </h3>
          <p class="heading-p">
          <div class="balloon1-left">
            <% if @climber.introduction.present? %>
              <%= @climber.introduction %>
            <% elsif %>
              <%= "よろしくお願いします" %>
            <% end %>
          </div>
          </p>
          <h3 class="feature-title">お気に入りジム</h3>
          <p class="heading-p">
            <% if @climber.favorite_by?(@climber) %>
                <% @favorites.each do |f|%>
                  <%= link_to gym_path(f.gym) do %>
                      <%= f.gym.gym_name %>  /
                    <% end %> 
                <% end %>
            <% else %>
                お気に入りジム未登録
            <% end %>
          </p>
            <div class="social">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
          <h3 class="feature-title">
            <% if current_climber.id == @climber.id %>
              <%= link_to "ー　プロフィール編集　ー", edit_climber_path %><br>
              <%= link_to "ー　お知らせ　ー", favorites_path %><br>
          </h3>
            <% else %>

        <%= render 'battle_now', climber: @climber %>

              <% if current_climber.battle_now?(@climber) %>
                <%= link_to  "申請をやめる", battle_path(@climber.id), method: :delete %>
                バトルを申込済みです。了承されるまでお待ちください
                <%= form_with method: :delete, model: @update_battle,local: true, url:battle_path(@climber.id) do |f| %>
                <%= hidden_field_tag :battler_id, @climber.id %>
                  <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-danger' do %>
                    <i class="fas fa-burn"> - バトルを申しこんでいる。押したら取り消しできる様にする</i>
                  <% end %>
                <% end %>
              <% else %>
                  <p class="heading-p"><!-- カレントユーザーには表示させない -->
                  <%= form_with method: :post, model: @new_battle,local: true, url:battles_path do |f| %>
                    <%= hidden_field_tag :battler_id, @climber.id %>
                      <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-primary' do %>
                        <i class="fas fa-burn"> バトルを申し込む</i>
                      <% end %>
                  <% end %>
              <% end %>

              <% if current_climber.following?(@climber) %>
                <%= form_for(current_climber.relationships.find_by(follow_id: @climber.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, @climber.id %>
                      <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-danger' do %>
                        <i class="fas fa-user-minus"> フォローを外す</i>
                      <% end %>
                  <% end %>
              <% else %>
                <%= form_for(current_climber.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, @climber.id %>
                      <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-primary' do %>
                        <i class="fas fa-user-plus"> フォローする</i>
                      <% end %>
                  <% end %>
              <% end %>
            <% end %>
          </p>
        </div>
			</div>
		</div>
	</div>
	<!-- ここまでプロフィール -->

