<div class="log-visual">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="content">
      <%#= render "devise/shared/error_messages", resource: resource %>
      <%= render 'layouts/alert' %>
        <h1>ログイン</h1>
        <div class="control">
          <label for="mymail">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <label for="mymail">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <p><%= f.check_box :remember_me %> Remember me</p>
          </div>
        <% end %>
        <h2></h2>
          <%= f.button "ログイン", :type => "submit", style: 'border-style: none;',class: "btn btn-lg btn-primary center-block" %>
          <%= link_to 'かんたんログイン', homes_guest_sign_in_path, method: :post, class:"btn btn-lg btn-success center-block" %> <br>
      <% end %>
          ※ まだアカウントを持っていない方は <i class="fas fa-user"></i><%= render "climbers/shared/links" %>
    </div>