<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="content">
        <h1>ログインフォーム</h1>
        <div class="control">
          <label for="mymail">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <label for="mymail">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %> Remember me
          </div>
        <% end %>
        <h2>
        </h2>

          <%= f.button :type => "submit", style: 'border-style: none;',class: 'btn btn-primary' do %>
            <i class="fas fa-key"> ログイン</i>
        <% end %>
      <% end %>
      </div>
<%= render "climbers/shared/links" %>
</div>