<%= my_rank %>位
<%= attachment_image_tag current_climber,:profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png", size:'40x40' %>
<%= current_climber.name %>
<%# <%= current_climber.done_tasks.task.count_per_gym %>

<table class="table">
    <thead>
        <tr>
            <th>順位</th>
            <th>写真</th>
            <th>名前</th>
            <th>登れた本数</th>
        </tr>
    </thead>
    <tbody>
        <% rank = 1 %>
        <% rank_done_tasks.each do |rank_done_task| %>
        <tr>
            <td>
                <%= rank %>位
                <% rank += 1 %>
            </td>
            <td>
            <%= attachment_image_tag rank_done_task.climber,:profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png", size:'40x40' %>
            </td>
            <td>
                <%= link_to climber_path(rank_done_task.climber_id) do %>
                    <%= rank_done_task.climber.name %>
                <% end %>
            </td>
            <td>
                ジムごとのカウント
                <%= rank_done_task.count_per_gym %>本
            </td>
        </tr>
        <% end %>
    </tbody>
</table>