

<!DOCTYPE html>
<html>

<head>
    <title>NOBORO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav class="navbar-left">
            <span><%= link_to " NOBORO", root_path %></span>
        </nav>

        <% if gym_signed_in? %>
            <ul class="navbar-text navbar-right">
            <li>
                <%= link_to " ジム情報編集", edit_gyms_gym_path(current_gym.id),class:"glyphicon glyphicon-home"%>
            </li>
            <li>
                <%= link_to " ジム課題登録", gyms_tasks_path,class:"glyphicon glyphicon-book" %>
            </li>
            <li>
                <%= link_to " ジムグレード登録（トロフィー）", gyms_grades_path,class:"glyphicon glyphicon-book" %>
            </li>
            <li>
                <%= link_to " ジムのジャンル登録", gyms_genres_path,class:"glyphicon glyphicon-book" %>
            </li>
            <li>
                <%= link_to " ジムのお知らせ登録", gyms_infos_path,class:"glyphicon glyphicon-book" %>
            </li>
            <%# ログアウトは後で消す %>
            <li>
                <%= link_to " ログアウト", destroy_climber_session_path,class:"glyphicon glyphicon-log-out", method: :delete %>
            </li>
        </ul>
        <!-- クライマーがサインインしている場合 -->
        <% elsif climber_signed_in? %>
        <ul class="navbar-text navbar-right">
            <li>
                <%= link_to " マイページ", climber_path(current_climber.id),class:"fas fa-dove"%>
            </li>
            <li>
                <%= link_to " ジム検索", root_path,class:"fa fa-search" %>
            </li>
            <li>
                <%= link_to " バトル通知", "#",class:"fas fa-bolt" %>
            </li>
            <li>
                <%= link_to " 獲得したトロフィー", trophy_path(current_climber.id),class:"fas fa-chess-queen" %>
            </li>
            <li>
                <%= link_to " ログアウト", destroy_climber_session_path,class:"fas fa-door-open", method: :delete %>
            </li>
        </ul>
        <!-- ユーザーがサインインしていない場合 -->
        <% else %>
        <ul class="navbar-text navbar-right">
            <li>
                <%= link_to " ジム検索", root_path,class:"fa fa-search" %>
            </li>
            <li>
                <%= link_to " about", '#',class:"glyphicon glyphicon-link" %>
            </li>
            <li>
                <%= link_to " sign up", new_climber_registration_path,class:"glyphicon glyphicon-pencil" %>
            </li>
            <li>
                <%= link_to " login", new_climber_session_path,class:"glyphicon glyphicon-log-in" %>
            </li>
        </ul>
        <% end %>
    </div>
</header>
<div class="container">
    <!-- flashここからnotice：ログイン・ログアウト -->
    <% if notice %>
    　 <div class="success">
        <%= notice %>
    </div>
    <% elsif alert %>
    <div class="info">
        <%= alert %>
    </div>
    <% end %>

    <body>
        <%= yield %>
    </body>

</html>




