<!DOCTYPE html>
<html>
    <head>

    <img src=>
        <title>NOBORO</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
         <%= favicon_link_tag('favicon.ico') %>
         <%= favicon_link_tag %>
         <%= favicon_link_tag '/favicon.ico' %>
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
                <nav class="navbar-left">
                    <span>
                        <%= link_to root_path do %>
                            <%= image_tag 'logo3.png', class:'logo' %>
                        <% end %>
                    </span>
                </nav>
                <% if gym_signed_in? %>
                <ul class="navbar-text navbar-right">
                    <li>
                        <%= link_to " ジム情報編集", edit_gyms_gym_path(current_gym.id),class:"fas fa-cog"%>
                    </li>
                    <li>
                        <%= link_to " ジム課題登録", gyms_tasks_path,class:"fas fa-feather" %>
                    </li>
                    <li>
                        <%= link_to " ジムグレード登録（トロフィー）", gyms_grades_path,class:"fas fa-chess-queen" %>
                    </li>
                    <li>
                        <%= link_to " ジムのジャンル登録", gyms_genres_path,class:"fas fa-horse-head" %>
                    </li>
                    <li>
                        <%= link_to " ジムのお知らせ登録", gyms_infos_path,class:"far fa-bell" %>
                    </li>
                    <%# ログアウトは後で消す %>
                    <li>
                        <%= link_to " ログアウト", destroy_climber_session_path,class:"fas fa-door-open", method: :delete %>
                    </li>
                </ul>

                <!-- クライマーがサインインしている場合 -->
                <% elsif climber_signed_in? %>
                <ul class="navbar-text navbar-right">
                    <li>
                        <%= link_to " マイページ", climber_path(current_climber.id),class:"fas fa-dove"%>
                    </li>
                    <li>
                        <%= link_to " ジム検索", root_path,class:"fa fa-search" %>
                    </li>
                    <li>
                        <% if unchecked_notifications.any? %>
                            <i class="fa fa-circle" style="color: red;"></i>
                        <% end %>
                            <%= link_to " 通知", notifications_path,class:"fas fa-bell" %>
                    </li>
                    <li>
                        <%= link_to " バトル", battles_path,class:"fas fa-fire" %>
                    </li>
                    <li>
                        <%= link_to " ランキング", done_tasks_path,class:"fas fa-chess-queen" %>
                    </li>
                    <li>
                        <%= link_to " トロフィー", trophy_path(current_climber.id),class:"fa fa-trophy" %>
                    </li>
                    <li>
                        <%= link_to " ログアウト", destroy_climber_session_path,class:"fas fa-door-open", method: :delete %>
                    </li>
                </ul>
                <!-- クライマーがサインインしていない場合 -->

                <% else %>
                <ul class="navbar-text navbar-right">
                    <li>
                        <%= link_to " ジム検索", root_path,class:"fa fa-search" %>
                    </li>
                    <li>
                        <%= link_to " about", '#',class:"fas fa-cat" %>
                    </li>
                    <li>
                        <%= link_to " sign up", new_climber_registration_path,class:"fas fa-door-closed" %>
                    </li>
                    <li>
                        <%= link_to " login", new_climber_session_path,class:"fas fa-key" %>
                    </li>
                </ul>
                <% end %>
        </header>
        <div class="container">
            <!-- flashここからnotice：ログイン・ログアウト -->
            <% if notice %>
            　 <div class="success">
                    <%= notice %>
                </div>
            <% elsif alert %>
                <div class="info">
                    <%= alert %>
                </div>
            <% end %>
                <%= yield %>
        </div>
        <footer class="fixed-bottom">

        
        			<!-- ここからコンタクト -->
	<div class="contact">
		<div id="contact"></div>
		<div class="contact-group">


			<div class="headcontainer">
			<h2 class="heading">Contact</h2>
			<div class="ander"></div>
			<p class="heading-p">It is a long established fact that a reader will be distracted by the readable<br>
			content of a page when looking at its layout. The point of using Lorem Ipsum is that it has<br>
			a more-or-less normal distribution of letters</p>
			</div>
			</div>

		<div class="container clearfix">
			<div class="contact-left">
			<h3 class="feature-title">Mail</h3>
			<a class="heading-p" href="mailto:user@dammy.com">xxx@xxx.com</a>
			<h3 class="feature-title">Tell</h3>
			<a class="heading-p" href="tel:">000-0000-0000</a>
			</div>

		<div class="contact-right">
			<h2 class="feature-title">SNS</h2>
			<div class="social">
			<a href="#">
			<i class="fab fa-facebook-square"></i></a>
			<a href="#">
			<i class="fab fa-twitter"></i></a>
			<a href="#">
			<i class="fab fa-instagram-square"></i></a>
			</div>
		</div>
	</div>

		</div>
		</div>
		</div>
	</div>
	<!-- ここまでコンタクト -->



            <p class="copyright">©︎ 2020 NOBORO</p>
        </footer>
    </body>
</html>




